@import "tailwindcss";

html {
  scroll-behavior: smooth;
}



:root {
  --background: #faf2f2;
  --foreground: #000000;
  --primary: #EF4444;
  --primary-foreground: #FFFFFF;
  --dark-100: #111111;
  --dark-200: #1A1A1A;
  --border: #E5E7EB;
}

.dark {
  --background: linear-gradient(to bottom right, #000000, #111827, #000000);
  --foreground: #FFFFFF;
  --primary: #EF4444;
  --primary-foreground: #FFFFFF;
  --dark-100: #111111;
  --dark-200: #1A1A1A;
  --border: #2A2A2A;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
